.card-wrapper {
  cursor: pointer;
  max-width: 350px;
  border: 1px solid var(--pink-100);
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
  background-color: var(--bg-color);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;

}

.card-wrapper:hover {
  border: 1px solid var(--bg-color);
  transform: scale(1.025);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-img-wrap {
  width: 100%;
  border-radius: 5px;
  animation: none;
}

.card-img-wrap.loadingImg {
  animation: pulse 2.5s infinite;
}

.card-img-wrap>.card-img {
  opacity: 1;
}

.card-img-wrap.loadingImg>.card-img {
  opacity: 0;
}

.card-img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
}

.loadingImg {
  background-color: white;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 0.1;
  }
}

.card-title {
  font-size: 1.8rem;
  text-align: center;
}


.card-button-container {
  margin-top: auto;
  align-self: center;
  display: flex;
  gap: 10px;
}

.card-btn {
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  background-color: var(--pink-100);
  color: var(--white);
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.card-btn:hover {
  background-color: var(--pink-200);
}

.cert-link:hover .send-arrow {
  transform: translateX(5px);
}

.send-arrow {
  font-size: 2rem;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 688px) {
  .card-wrapper {
    font-size: 1.4rem;
  }

  .card-title {
    font-size: 1.6rem;
  }
}