.contact__page {
  padding: 70px 0;
}

.submit-message {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.contact__page-desc {
  font-size: 2rem;
  text-align: center;
}

.submit-message label {
  font-size: 2rem;
  padding: 1em 0.5em 0.5em;
}

.submit-message label span {
  color: var(--pink-100);
}

.submit-message input,
.submit-message textarea {
  z-index: 1;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 3px;
  background-color: var(--black-100);
  color: var(--white);
}


.submit-message textarea {
  resize: none;
  overflow: hidden;
}

.submit-message input:focus,
.submit-message textarea:focus {
  border: 1px solid var(--pink-100);
  outline: none;
}

.submit-message input::placeholder,
.submit-message textarea::placeholder {
  color: var(--pink-100);
}

.submit-message span.name-error,
.submit-message span.email-error {
  color: var(--html-color);
  font-size: 1.2rem;
  padding-top: 1rem;
  display: none;
  text-align: center;
}

.submit-message .input-name:invalid[focused="true"]~span.name-error {
  display: block;
}

.submit-message .input-email:invalid[focused="true"]~span.email-error {
  display: block;
}

.submit-message button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: inherit;
  margin-top: 2rem;
  padding: 0.5em 0;
  cursor: pointer;
  background-color: var(--pink-100);
  border: none;
  border-radius: 3px;
  color: var(--white);
  font-weight: 600;
  z-index: 1;
  transition: background-color 0.2s ease-in-out;
}

input {
  caret-color: var(--pink-200);
}


.submit-message button:focus {
  border: none;
  outline: 1px solid var(--white)
}

.submit-message button:hover {
  background-color: var(--pink-200);
}

.submit-message button:disabled:hover {
  cursor: not-allowed;
}

.send-arrow {
  font-size: 3rem;
  transition: transform 0.2s ease-in-out;
}

.submit-message button:hover .send-arrow {
  transform: translateX(10px);
}

.message-sent {
  position: absolute;
  width: 360px;
  padding: 10px;
  background-color: var(--tailwind-color);
  font-size: 1.4rem;
  border-radius: 5px;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  text-align: center;
  animation: slideMessage 1.5s ease-in;
}

@keyframes slideMessage {
  from {
    top: 0;
    opacity: 0
  }

  to {
    top: 80px;
    opacity: 1
  }
}

@media (max-width: 688px) {
  .submit-message {
    width: 90%;
  }

  .submit-message label {
    font-size: 1.6rem;
    padding: 1em 0.5em 0.5em;
  }

  .contact__page-desc {
    font-size: 1.8rem;
  }

  .submit-message input,
  .submit-message textarea {
    font-size: 1.4rem;
  }

  .submit-message button {
    font-size: 1.8rem;
    margin-top: 1em;
  }

  .message-sent {

    width: 300px;
    font-size: 1.2rem;
  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid var(--pink-100);
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0 0 0px 1000px var(--black-100) inset;
  transition: background-color 5000s ease-in-out 0s;
}