header {
  position: fixed;
  width: 100%;
  max-width: inherit;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 10px var(--padding-x);
  z-index: 5;
}

.header-bg {
  background-color: #292929;
}

.logo {
  height: 50px;
}

.logo p {
  font-size: 2.5rem;
  transition: color 0.2s ease;
}

.logo p span:first-child {
  color: var(--hover-color);
  transition: color 0.2s ease;
}

.logo p:hover {
  color: var(--hover-color);
}

.logo p:hover span:first-child {
  color: var(--white-color);
}

header>nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1.5em;
}

header a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.25em;
  position: relative;
}


header nav a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  transition: all ease-in-out 0.4s;
}

header nav a:hover::after {
  width: 100%;
  background-color: var(--hover-color);
}

.hamburger-btn {
  display: none;
}

@media (max-width: 848px) {
  header>nav {
    gap: 1em;
    transition: gap 200ms ease-in-out;
  }

  header {
    font-size: 1.8rem;
  }

  .logo p {
    font-size: 2rem;
    transition: font-size 200ms ease-in-out;
  }
}

@media (max-width: 688px) {
  header {
    background-color: #292929;
    z-index: 5;
  }

  header>nav {
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;
    font-size: 2rem;
    background-color: #292929;
    top: 70px;
    height: 100vh;
    right: 0;
    width: 0;
    overflow: hidden;
    transition: width 0.25s ease-in;
  }

  nav.active {
    width: 60%;
  }

  header nav a {
    gap: 0.5em;
    margin-right: 3rem;
  }

  header nav a:first-child {
    padding-top: 3rem;
  }

  .hamburger-btn {
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: auto;
    width: 25px;
    height: 25px;
    display: flex;
  }

  .hamburger-btn span {
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: var(--hover-color);
    transition: all 0.2s ease-in-out;
  }

  .hamburger-btn span:nth-child(2) {
    width: 80%;
    align-self: flex-end;
  }

  .hamburger-btn.active span:nth-child(2) {
    width: 0;
  }

  .hamburger-btn.active span:nth-child(1) {
    transform: translateY(11px) rotate(-45deg);
  }

  .hamburger-btn.active span:nth-child(3) {
    transform: translateY(-11px) rotate(45deg);
  }

}