header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 2rem;
  z-index: 5;
}

.header-container {
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 70px;
  padding: 10px var(--padding-x);
  transition: padding 0.2s ease-in-out;
}

.black-bg {
  background-color: var(--black-100);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.logo {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  transition: color 0.2s ease;
}

.logo__symbol {
  color: var(--pink-100);
  transition: color 0.2s ease;
}

.logo:hover {
  color: var(--pink-100);
}

.logo:hover .logo__symbol {
  color: var(--white);
}

.navigation__menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1.5em;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 0.25em;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
  transition: all ease-in-out 0.4s;
}

.nav-link:hover::after {
  width: 100%;
  background-color: var(--pink-100);
}

.hamburger-btn {
  display: none;
}

@media (max-width: 848px) {
  .navigation__menu {
    gap: 1em;
  }

  header {
    font-size: 1.8rem;
  }

  .logo p {
    font-size: 2rem;
    transition: font-size 200ms ease-in-out;
  }
}

@media (max-width: 688px) {
  header {
    background-color: var(--black-100);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  }

  .navigation__menu {
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    gap: 4rem;
    font-size: 2rem;
    background-color: var(--black-100);
    top: 70px;
    height: 100vh;
    right: 0;
    width: 0;
    overflow: hidden;
    transition: width 0.25s ease-in;
  }

  .navigation__menu.mobile {
    z-index: 5;
    width: 60%;
  }

  .nav-link {
    gap: 0.5em;
    margin-right: 3rem;
  }

  .nav-link:first-child {
    padding-top: 3rem;
  }

  .hamburger-btn {
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: auto;
    width: 25px;
    height: 25px;
    display: flex;
  }

  .hamburger-line {
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: var(--pink-100);
    transition: all 0.2s ease-in-out;
  }

  .line-2 {
    width: 80%;
    align-self: flex-end;
  }

  .hamburger-btn.active .line-2 {
    width: 0;
  }

  .hamburger-btn.active .line-1 {
    transform: translateY(11px) rotate(-45deg);
  }

  .hamburger-btn.active .line-3 {
    transform: translateY(-11px) rotate(45deg);
  }
}