.home-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: calc(100vh - 70px);
}

.home-text-content {
  padding-top: 30px;
  width: 50%;
}

.home-text-content-title {
  font-size: 6rem;
}

.hero-page-text-desc {
  font-size: 4rem;
}

.greeting {
  white-space: nowrap;
}

.waving {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: wave-animation 2s infinite;
}

.home-text-typing {
  display: inline-block;
  color: var(--pink-100)
}

.home-image-container {
  width: 100%;
  max-width: 600px;
  z-index: 2;
  animation: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}


/* .heroLoading {
  background-color: var(--white);
  filter: blur(10px);
} */

@keyframes pulseHome {
  0% {
    opacity: 0.05;
  }

  50% {
    opacity: 0.15;
  }

  100% {
    opacity: 0.05;
  }
}

.home-image-container.heroLoading {
  animation: pulseHome 2.5s infinite;
  border-radius: 5px;
}

.home-image-container.heroLoading .hero-img {
  opacity: 0;
}

.home-image-container .hero-img {
  opacity: 1;
}

.hero-img {
  display: block;
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

@media (max-width: 848px) {
  .home-text-content-title {
    font-size: 4rem;
    transition: font-size 0.2s ease-in-out;
  }

  .hero-page-text-desc {
    font-size: 2.5rem;
    transition: font-size 0.2s ease-in-out;
  }
}

@media (max-width: 688px) {
  .home-page {
    flex-direction: column;
    align-content: center;
    justify-items: center;
  }

  .home-image-container {
    flex-grow: 1;
    overflow: hidden;
    max-width: 100%;
  }

  .hero-img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .home-text-content {
    width: 100%;
    text-align: center;
  }

  .hero-page-text-desc {
    min-height: 115px;
  }
}