* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  /* colors */
  --bg-color: #272935;
  --white: #FFFFFF;
  --pink-100: #e6429c;
  --pink-200: #ba1a72;
  --black-100: #292929;
  --html-color: #f97316;
  --css-color: #4299e1;
  --js-color: #FFD600;
  --ts-color: #3178c6;
  --react-color: #149ECA;
  --nextjs-color: #000000;
  --tailwind-color: #38BDF8;
  --git-color: #F14E32;
  /* spacing */
  --padding-x: 30px;
  --padding-y: 70px;
}

@media (max-width: 688px) {
  :root {
    --padding-x: 20px;
  }
}

@media (max-width: 500px) {
  :root {
    --padding-x: 15px;
  }
}

html {
  font-size: 62.5%;
  user-select: none;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--white);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

main {
  padding: 70px var(--padding-x) 0;
}

.app-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}