* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-background-color: #272935;
  --white-color: #FFFFFF;
  --hover-color: #e6429c;
  --padding-x: 30px;
}

html {
  font-size: 62.5%;
  user-select: none;
}

html,
body {
  background-color: var(--dark-background-color);
  color: var(--white-color);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 70px var(--padding-x) 0;
}

.app-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;
  background-color: var(--dark-background-color);
  position: relative;
}